Core/*-1.idt
Core/*-2.idt
Core/*-2.idtx
Core/*.Binary-1
Core/*.Binary-2
Core/*.Icon-1
Core/*.Icon-2
Core/*.lst
Core/*.msm
UI/*-1.idt
UI/*-2.idt
UI/*-2.idtx
UI/*.Binary-1
UI/*.Binary-2
UI/*.Icon-1
UI/*.Icon-2
UI/*.lst
UI/*.msm
Version/*-1.idt
Version/*-2.idt
Version/*-2.idtx
Version/*.Binary-1
Version/*.Binary-2
Version/*.Icon-1
Version/*.Icon-2
Version/*.lst
Version/*.msm
Version/Version.mak
