* text=auto !eol
/CAB.mak -text
Core/Makefile -text
/Empty.msi -text
/MSI.js -text svneol=unset#text/javascript
/MSI.wsf -text svneol=unset#text/xml
/MSM.mak -text
/Makefile -text
/String.js -text svneol=unset#text/javascript
UI/Binary/UIFolderNew.ico -text svneol=unset#image/x-icon
UI/Binary/UIFolderUp.ico -text svneol=unset#image/x-icon
UI/Binary/UIInfo.ico -text svneol=unset#image/x-icon
UI/Binary/UIWarning.ico -text svneol=unset#image/x-icon
UI/Makefile -text
Version/Makefile -text
